<table class="table table-bordered table-condensed table-striped" id="list_payments">
  <thead>
    <tr>
      <th><%= t('plans.payments.paid_at') %></th>
      <th colspan="2"><%= t('plans.payments.amount') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @payments.each do |payment| %>
    <tr>
      <td><%= payment.paid_at %></td>
      <td><%= payment.amount_paid %></td>
      <td><%= t('JD') %></td>
      <td><%= link_to t('delete'), client_plan_delete_payment_path(@client, @plan, payment), 
      { method: :delete, confirm:t('delete_confirm'), class: 'btn-link'} %></td>
    </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th><%= t('plans.payments.sum') %></th>
      <th><%= @plan.paid_sum %></th>
      <th colspan="1"><%= t('JD') %></th>
      <th></th>
    </tr>
    <tr>
      <th><%= t('plans.payments.remaining') %></th>
      <th><%= @plan.remaining_amount %></th>
      <th colspan="1"><%= t('JD') %></th>
      <th></th>
    </tr>
  </tfoot>
</table>